// These colors are specific to the theme. Do not use in a package!

$blue: #0092db; 
$blue-dark: #2973b7;
$green: #42b983;
$green-light: #a6e22e;
$orange: #e96900;
$purple: #ae81ff;

$gray: #525252;
$light-gray: #b3b3b3;
$very-light-gray: #f8f8f8;